.DS_Store
node_modules
/dist
# server/uploads/*

# exception to the rule
!server/uploads/.gitkeep 

# local env files
.env.local
.env.*.local
.env
/server/.env


# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
