.v-list-item .v-list-item__title, .v-list-item .v-list-item__subtitle {
  line-height: 2 !important;
}


//nprogress bar color
#nprogress .bar {
  background: #fafafa !important;
}

//text ellipsis
@mixin ellipsis-x {
  @for $i from 1 through 5 {
    .ellipsis-#{$i} {
      display: -webkit-box;
      -webkit-line-clamp: #{$i};
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
@include ellipsis-x;
/**
*   Project Type
*/

/* Hardware */
.type-1 {
  background-color: #69f0ae !important;
}
/* Software */
.type-2 {
  background-color: #ffd54f !important;
}
/* Sofware and Hardware */
.type-3 {
  background-color: #b388ff !important;
}

/**
*   Project Status
*/

/* Draft */
.p-status-1 {
  background-color: #adadad !important;
}
/* Wait Adviser */
.p-status-2 {
  background-color: #ffea00 !important;
}
/* Wait Instructor */
.p-status-3 {
  background-color: #29b6f6 !important;
}
/* In Progress */
.p-status-4 {
  background-color: #fb6340 !important;
}
/* Incomplete */
.p-status-5 {
  background-color: #f5365c !important;
}
/* Failure */
.p-status-6 {
  background-color: mediumpurple !important;
}
/* Completed */
.p-status-7 {
  background-color: #2dce89 !important ;
}
/* Rejected */
.p-status-8 {
  background-color: deeppink !important;
}

/**
*   Meeting Status
*/
// wait
.m-status-1 {
  background-color: #2196f3 !important;
}
// approved
.m-status-2 {
  background-color: green !important;
}
// declined
.m-status-3 {
  background-color: red !important;
}
// cancel
.m-status-4 {
  background-color: #ff5252 !important;
}

.m-type-1 {
  background-color: #b388ff !important;
}
.m-type-2 {
  background-color: #2196f3 !important;
}

/**
*   Form Status
*/
/* None */
.f-status-0 {
  background-color: #adadad !important;
}
/* pending */
.f-status-1 {
  background-color: #fb6340 !important;
}
/* Wait Adviser */
.f-status-2 {
  background-color: aquamarine !important;
}
/* Wait Instructor */
.f-status-3 {
  background-color: aqua !important;
}
/* Rejected */
.f-status-4 {
  background-color: #f5365c !important;
}
/* Approved */
.f-status-5 {
  background-color: #2dce89 !important;
}

/**
*   Request Exam Status
*/
/* None */
.e-status-0 {
  background-color: #adadad !important;
}
/* Wait Adviser */
.e-status-1 {
  background-color: #ffea00 !important;
}
/* Wait Instructor */
.e-status-2 {
  background-color: #29b6f6 !important;
}
/* Wait For Exam */
.e-status-3 {
  background-color: #2dce89 !important;
}
.e-status-4 {
  background-color: #f5365c !important;
}
.e-status-5 {
  background-color: #f5365c !important;
}
.swal2-popup {
  font-family: "Prompt", serif !important;
}
//scrollbar
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border: 2px solid transparent;
  border-radius: 7px;
  box-shadow: inset 0 0 0 20px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-track-piece {
  width: 8px;
  background-color: white;
  // border-top-right-radius: 4px;
  //   border-bottom-right-radius: 4px;
}
::-webkit-scrollbar-thumb {
  color: #666666ff;
}
