//nprogress bar color
#nprogress .bar {
  background: #fafafa !important;
}

//scrollbar
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border: 2px solid transparent;
  border-radius: 7px;
  box-shadow: inset 0 0 0 20px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-track-piece {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  color: #666666ff;
}

